/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organized, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

* {
  font-family: roboto, arial, helvetica, sans-serif;
}

.container {
  margin: 20px 20vw;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}