/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organized, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

* {
  font-family: roboto, arial, helvetica, sans-serif;
}

.container {
  margin: 20px 20vw;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

header nav ul {
  display: flex;
  justify-content: space-around;
}

header nav ul li a {
  color: #555;
}

header nav ul li a:hover {
  color: orange;
}

article img {
  width: 90%;
}

footer i {
  color: black;
}
